fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy
psycopg[binary]
python-jose[cryptography]
pwdlib[argon2]
email-validator
python-multipart
pypdf
python-docx
langchain
langchain-openai
langchain-groq
langchain-community
langchain-text-splitters
pytest
httpx
